<div id="signup" v-cloak>
  <div class="col-sm-12 col-md-12">
    <h3 class="text-center title"><b>🚀C’est parti ! Initiez votre demande</b></h3>
    <div style="max-width: 450px;" class="mx-auto">

      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedForm($event)">
        <div class="form-group">

          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Nom avec initiales" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">S'il vous plait entrez votre nom entier.</div>
        </div>
        <div class="form-group">

          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="Adresse e-mail" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">S'il vous plaît, mettez une adresse email valide.</div>
        </div>
        <div class="form-group">

          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="CHoisissez un mot de passe" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Veuillez entrer un mot de passe.</div>
        </div>
        <div class="form-group">

          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="Confirmez le mot de passe" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Votre mot de passe et votre confirmation ne correspondent pas.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">J'ai lu et j'accepte les <a target="_blank" href="/terms">conditions d'utilisation</a>.</label>
        </div>
        <cloud-error v-if="cloudError==='emailAlreadyInUse'">Il semble qu'il existe déjà un compte avec votre adresse e-mail. Si vous avez oublié votre mot de passe, vous pouvez le récupérer <a href="password/forgot">here</a>.</cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
        <div class="row submitbutton">
          <div class="col-6">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block"><b>suivante</b></ajax-button>
          </div>
          <div class="col-6 Forgot text-black">
            <a href="/login"><i class="fa fa-chevron-left" aria-hidden="true" align="center"></i> &nbsp;&nbsp;ou Entrée</a>
          </div>
        </div>
      </ajax-form>

    </div>
  </div>
  <div class="container-fluid pt-5 pb-5" v-if="cloudSuccess">
    <h1 class="text-center">Vérifiez votre e-mail!</h1>
    <div class="text-center">
      <hr/>
      <p>Votre compte est presque prêt. Tout ce que vous avez à faire est de cliquer sur le lien que nous avons envoyé à <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(Vous pouvez toujours accéder à votre tableau de bord maintenant, mais certaines fonctionnalités ne seront pas disponibles tant que nous n'aurons pas vérifié votre adresse e-mail.)</p>
      <p><a class="btn btn-outline-info" href="/">Aller au tableau de bord</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
