h1>a:not(.btn), h2>a:not(.btn), h3>a:not(.btn), h4>a:not(.btn), h5>a:not(.btn), h6>a:not(.btn), p>a:not(.btn), li>a:not(.btn), blockquote>a:not(.btn), label>a:not(.btn), h1 small>a:not(.btn), h2 small>a:not(.btn), h3 small>a:not(.btn), h4 small>a:not(.btn), h5 small>a:not(.btn), h6 small>a:not(.btn), p small>a:not(.btn), li small>a:not(.btn), blockquote small>a:not(.btn), label small>a:not(.btn) {
  color: #3a8590;
  border-bottom: none;
}

div#main-menu nav.navbar {
  /* background-color: rgb(0 0 0 / 10%); */
  background-color: transparent;
  transition: .5s;
  padding: 0.7rem 1rem;
}

div#main-menu .scrolled-nav {
  padding: 0 !important;
}

div#main-menu img {
  transition: .5s;
}

div#main-menu .scrolled-nav .img-fluid {
  padding: 5px;
  transition: .5s;
}

div#main-menu ul.navbar-nav li.nav-item a.nav-link {
  color: #343a40;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  /* font-family: 'Favorit', sans-serif; */
}

div#main-menu ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #b6d9d6;
  transition: 0.3s;
}

div#main-menu .navbar-toggler {
  border: none;
  background: transparent !important;
}

div#main-menu .navbar-toggler .icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

div#main-menu .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

div#main-menu .navbar-toggler .middle-bar {
  opacity: 0;
}

div#main-menu .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

div#main-menu .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

div#main-menu .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

div#main-menu .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

li.nav-item {
  padding-left: 50px;
}

.navbar {
  /* position: fixed; */
  width: 100%;
  height: 100px;
  background-color: #111;
  transition: all .5s ease-in-out;
  z-index: 1;
}

.scroll {
  background-color: #9381ff !important;
  z-index: 1;
  color: red !important;
}

div#footer {
  background-color: #9381ff;
  padding: 50px 40px 10px 40px;
}

div#footer p {
  margin-bottom: 12px;
}

div#footer p a {
  color: #fff;
  font-weight: 300;
}

div#footer p a:hover {
  color: #fe615a;
  transition: .3s;
}

div#footer address {
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}

div#footer .copyright p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding-top: 10px;
}

p.footer {
  padding-bottom: 10px;
}

img.img-fluid.pb-3.footer {
  height: 90px;
}

b {
  font-weight: 700;
}

.row.coverRow {
  background-color: #faf6ee;
}

.caption {
  padding: 30% 0% 0% 2%;
}

b.responsable {
  color: #4d50f4;
}

button.btn.btn-primary {
  margin-top: 50px;
  width: 250px;
  height: 70px;
  border-radius: 13px;
  background-color: #4d50f4;
  border: 1px solid #4d50f4;
  font-weight: bold;
  font-size: 25px;
}

.main-banner .caption {
  padding: 15% 0% 10% 0%;
}

h1, .h1 {
  font-size: 60px;
}

small, .small {
  font-weight: bold;
  font-size: 1.2rem;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

img.img-fluid.logo {
  height: 55px;
}

.container.progressbar {
  padding-top: 200px;
}

label.priceRange {
  font-weight: bold;
}

/* progressbar */
.txt-gray {
  color: #808080;
}

#g-range-container {
  width: 370px;
  border-radius: 10px;
  margin: 200px auto 0 auto;
  height: 10px;
  padding-top: 6px;
  border: 1px solid #CECECE;
}

#g-range-container .g-range {
  width: 350px;
  background-color: #72B2AA;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

#g-range-values-container {
  width: 350px;
  margin: 20px auto;
}

.txt-big-number {
  text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: #4d50f4;
  border: 1px solid #4d50f4;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #4d50f4d1;
  height: 10px;
  border-radius: 10px;
  width: 400px;
}

.simulation {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.container.progressbar {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.value {
  padding-left: 230px;
}

output#rangevalue1 {
  color: #4d50f4;
  font-weight: 700;
  font-size: 25px;
}

label.sign {
  color: #4d50f4;
  font-weight: 700;
  font-size: 25px;
}

.row.radio-buttons {
  margin-right: 200px;
}

.col-2.radioTest {
  color: #4d50f4;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  padding-top: 4px;
}

input#flexRadioDefault1 {
  /* font-size: 120px; */
  /* height: 1000px; */
  border: 0px;
  width: 100%;
  height: 2em;
}

input#flexRadioDefault2 {
  /* font-size: 120px; */
  /* height: 1000px; */
  border: 0px;
  width: 100%;
  height: 2em;
}

input#flexRadioDefault3 {
  border: 0px;
  width: 100%;
  height: 2em;
}

.halfCircle {
  background-color: #f6f0e8;
  padding-bottom: 50px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.avarage {
  text-align: end;
}

label.price {
  font-weight: bold;
  color: #4d50f4;
}

.col-6.avarageCol {
  width: 650px;
}

.responciveHalfCircle {
  background-color: #f6f0e8;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.row.col-12.ml-auto.mr-auto {
  padding-left: 10%;
}

.simulation.responsive {
  padding-top: 20px;
}

.firstTitle {
  padding-left: 110px;
}

/* SECTION BELOV THE COVER */
body {
  overflow-x: hidden;
}

.AvisVerifiesInline__stars__icon {
  margin-right: 3px;
  display: inline-block;
}

.icon {
  display: flex;
  justify-content: right;
  align-items: center;
}

.icon svg {
  color: #e8a215;
}

.fadetext {
  color: #8794a4;
}

.headl {
  font-family: 'raleway', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.25;
}

.head2 {
  font-family: 'raleway ', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
}

.text1 {
  font-family: 'raleway ', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.text2 {}

.block--new {
  padding: 6% 6%;
}

@media (min-width: 1800px) .block--new {
  padding: 80px 160px;
}

@media (min-width: 1200px) .block--new {
  padding: 80px 120px;
}

@media (min-width: 900px) .block--new {
  padding: 80px 80px;
}

@media (min-width: 600px) .block--new {
  padding: 80px 40px;
}

.ballonsec {
  background-color: #faf6ee;
}

.Balloon__image {
  width: 100%;
  height: 100%;
  padding-left: 40px;
}

button.btn.btn-primary {
  width: 200px;
  height: 50px;
  border-radius: 13px;
  background-color: #4d50f4;
  border: 1px solid #4d50f4;
  font-weight: bold;
  font-size: 1.2rem;
}

.balloncontent {
  margin: 200px 0px 0px 50px;
  position: static;
  top: 30%;
  left: 10%;
}

@media (max-width : 990px) {
  .balloncontent {
    margin: 50px 0px 0px 20px;
  }
}

.bluetxt {
  color: #4d50f4;
}

.test {
  margin: 0;
  position: absolute;
  text-align: center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: -15px;
}

/* Vertical CARASOL */
.carousel-inner, .carousel, .carousel-item, .container, .fill {
  /* height: 100%; */
  min-height: 400px;
  /* width: 100%; */
  background-position: center center;
  background-size: cover;
}

.slide-wrapper {
  display: inline;
}

.slide-wrapper .container {
  padding: 0;
}

/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel-inner>.carousel-item.carousel-item-next,
.carousel-inner>.carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  top: 0;
}

.carousel-inner>.carousel-item.carousel-item-prev,
.carousel-inner>.carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  top: 0;
}

.carousel-inner>.carousel-item.next.carousel-item-left,
.carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner>.carousel-item.active {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  ;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-inner, .carousel, .carousel-item, .container, .fill {
  /* height: 100%; */
  min-height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.slide-wrapper {
  display: inline;
}

.slide-wrapper .container {
  padding: 0;
}

/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel-inner>.carousel-item.carousel-item-next,
.carousel-inner>.carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  top: 0;
}

.carousel-inner>.carousel-item.carousel-item-prev,
.carousel-inner>.carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  top: 0;
}

.carousel-inner>.carousel-item.next.carousel-item-left,
.carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner>.carousel-item.active {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  ;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 200px;
  /* left: auto; */
  width: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.carousel-indicators li {
  display: block;
  margin-bottom: 100px;
  border: 1px solid #9381ff96;
  background-color: #9381ff96;
  height: 3px;
}

.carousel-indicators li.active {
  margin-bottom: 10px;
  background: #4d50f4;
  width: 120px;
  height: 8px;
  border-radius: 10px;
  position: initial !important;
}

img.slideImg {
  height: 600px;
}

.col-6.slideTest {
  padding-top: 200px;
  text-align: left !important;
}

ol.carousel-indicators {
  background-color: #9381ff;
  max-width: 200px;
  height: 8px !important;
  border-radius: 50px;
}

.slide-wrapper .container {
  padding: 0;
  padding-left: 120px;
}

p.headl.Slider {
  font-size: 30px;
}

.col-2.timeCaseusal1 {
  padding-top: 200px;
}

.carousel1.second {
  padding-top: 55px;
}

.carousel1.third {
  padding-top: 70px;
}

span.disableTxt {
  color: rgb(0 0 0 / 20%);
}

.col-2.timeCaseusal2 {
  padding-top: 280px;
}

.col-2.timeCaseusal4 {
  padding-top: 380px;
}
