h1>a:not(.btn), h2>a:not(.btn), h3>a:not(.btn), h4>a:not(.btn), h5>a:not(.btn), h6>a:not(.btn), p>a:not(.btn), li>a:not(.btn), blockquote>a:not(.btn), label>a:not(.btn), h1 small>a:not(.btn), h2 small>a:not(.btn), h3 small>a:not(.btn), h4 small>a:not(.btn), h5 small>a:not(.btn), h6 small>a:not(.btn), p small>a:not(.btn), li small>a:not(.btn), blockquote small>a:not(.btn), label small>a:not(.btn) {
  color: #3a8590;
  border-bottom: none;
}

div#main-menu nav.navbar {
  background-color: rgb(0 0 0 / 10%);
  transition: .5s;
  padding: 0.7rem 1rem;
}

div#main-menu .scrolled-nav {
  padding: 0 !important;
}

div#main-menu img {
  transition: .5s;
}

div#main-menu .scrolled-nav .img-fluid {
  padding: 5px;
  transition: .5s;
}

div#main-menu ul.navbar-nav li.nav-item a.nav-link {
  color: #343a40;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  /* font-family: 'Favorit', sans-serif; */
}

div#main-menu ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #b6d9d6;
  transition: 0.3s;
}

div#main-menu .navbar-toggler {
  border: none;
  background: transparent !important;
}

div#main-menu .navbar-toggler .icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

div#main-menu .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

div#main-menu .navbar-toggler .middle-bar {
  opacity: 0;
}

div#main-menu .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

div#main-menu .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

div#main-menu .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

div#main-menu .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

li.nav-item {
  padding-left: 50px;
}

div#footer {
  background-color: #4d50f4;
  padding: 50px 40px 10px 40px;
}

div#footer p {
  margin-bottom: 12px;
}

div#footer p a {
  color: #fff;
  font-weight: 300;
}

div#footer p a:hover {
  color: #fe615a;
  transition: .3s;
}

div#footer address {
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}

div#footer .copyright p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding-top: 10px;
}

p.footer {
  padding-bottom: 10px;
}

img.img-fluid.pb-3.footer {
  height: 90px;
}

b {
  font-weight: 700;
}

.row.coverRow {
  background-color: #faf6ee;
}

.caption {
  padding: 40% 0% 0% 2%;
}

b.responsable {
  color: #4d50f4;
}

button.btn.btn-primary {
  width: 200px;
  height: 50px;
  border-radius: 13px;
  background-color: #4d50f4;
  border: 1px solid #4d50f4;
  font-weight: bold;
  font-size: 1.2rem;
}

.main-banner .caption {
  padding: 15% 0% 10% 0%;
}

h1, .h1 {
  font-size: 60px;
}

small, .small {
  font-weight: bold;
  font-size: 1.2rem;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

img.img-fluid.logo {
  height: 55px;
}

.container.progressbar {
  padding-top: 200px;
}

label.priceRange {
  font-weight: bold;
}

/* progressbar */
.txt-gray {
  color: #808080;
}

#g-range-container {
  width: 370px;
  border-radius: 10px;
  margin: 200px auto 0 auto;
  height: 10px;
  padding-top: 6px;
  border: 1px solid #CECECE;
}

#g-range-container .g-range {
  width: 350px;
  background-color: #72B2AA;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

#g-range-values-container {
  width: 350px;
  margin: 20px auto;
}

.txt-big-number {
  text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: #4d50f4;
  border: 1px solid #4d50f4;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #4d50f4d1;
  height: 10px;
  border-radius: 10px;
  width: 400px;
}

.simulation {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.container.progressbar {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.value {
  padding-left: 230px;
}

output#rangevalue1 {
  color: #4d50f4;
  font-weight: 700;
  font-size: 25px;
}

label.sign {
  color: #4d50f4;
  font-weight: 700;
  font-size: 25px;
}

.row.radio-buttons {
  margin-right: 200px;
}

.col-2.radioTest {
  color: #4d50f4;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  padding-top: 4px;
}

input#flexRadioDefault1 {
  /* font-size: 120px; */
  /* height: 1000px; */
  border: 0px;
  width: 100%;
  height: 2em;
}

input#flexRadioDefault2 {
  /* font-size: 120px; */
  /* height: 1000px; */
  border: 0px;
  width: 100%;
  height: 2em;
}

input#flexRadioDefault3 {
  /* font-size: 120px; */
  /* height: 1000px; */
  border: 0px;
  width: 100%;
  height: 2em;
}

.halfCircle {
  background-color: #f6f0e8;
  padding-bottom: 120px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  /* padding-right: 150px; */
}

.avarage {
  text-align: end;
}

label.price {
    font-weight: bold;
    color: #4d50f4;
}

.col-6.avarageCol {
    width: 650px;
}

/* #faf6ee */
